<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749873905029-gd8gclhu9uje443g83qi6bbu9sus01i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749873905029-gd8gclhu9uje443g83qi6bbu9sus01i3</string>
	<key>API_KEY</key>
	<string>AIzaSyA8t1pXduLO4sYHGPBWD2CO4reZmm3KfAs</string>
	<key>GCM_SENDER_ID</key>
	<string>749873905029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSwimLane</string>
	<key>PROJECT_ID</key>
	<string>swim-lane-9e67f</string>
	<key>STORAGE_BUCKET</key>
	<string>swim-lane-9e67f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749873905029:ios:edb54d6eb2982832b218ec</string>
</dict>
</plist>